<!DOCTYPE html>

<html>
  
  <body>

    <!--Header with anchor tags to relavant pages -->
    <header>
        <div class='nav'>
          <img src='../static/images/logo.jpeg'>    
            <a style=float:right; href="/resources">Resources</a>
            <a style=float:right; href="/search/SNP">Search</a>
            <a style=float:right; href="/about">About</a>
            <a style=float:right; href="/">Home</a>
        </div>
      </header>

{% block content %}{% endblock %}

  <!--Footer -->
      <footer>
          <p class="copyright"> © Type 1 Diabetes SNP Portal 2023 powered by the Microsoft Edge team</p>
      </footer>
  </body>
</html>
