{% extends "base.html" %}

{% block content %}
<head>
    <title>Chromosome Search</title>
    <link href="../static/css/style.css" rel="stylesheet">
    
  </head>

		<!--Main text -->
    	<main>
    		<div class="search_info">
      			<h2>Advanced Search</h2>
      			<p>Search by SNP (rs value), Gene Name or Genomic Coordinates to retrieve the genomic information of variants from known associations to Type 1 Diabetes. </p>
      		</div>
      		<div id="container">	
        	  	<div class="dropdown">
            		<button class="dropbtn">Select to search by:</button>
            		<div class="dropdown-content">
                		<a href="/search/SNP">SNP</a> <!-- link to html template with different forms! -->
                		<a href="/search/gene">Gene Name</a>
                		<a href="/search/chromosome">Genomic coordinates</a>
            		</div>
          		</div>
          		<div class="chromolabel">
          			<h3>Genomic coordinates</h3>
          		</div>
          		<div class="chromoloc_search">
          			<form method="POST", class="search-bar", action="/result/chromosome">
          				<!--<label for="chromoloc">Chromosome Coordinates</label>-->
          				<input type="text" step="any"name="chromoloc1" id="chromoloc1" placeholder="e.g 6:123758" pattern="\d{1,2}:\d{1,}" title="e.g 6:123758" required>
          				<input type="text" step="any" name="chromoloc2" id="chromoloc2" placeholder="e.g 6:992125" pattern="\d{1,2}:\d{1,}" title="e.g 6:992125" required>
          				<button type="submit" id="chromo_submission"><img src="../static/images/search_img.png"></button>
          			</form>
          		</div>
          	</div>
   	 	</main>

{% endblock %} 	
