<!DOCTYPE html>

<html lang="en">

<head>
	<title>Downloads</title>
	<link href="../static/css/style.css" rel="stylesheet">
</head>
	
<body>
	<header>
		<div class='nav'>
		    <div class='container'>
		        <img src='../static/images/logo.jpeg'> 
		        <a style=float:right; href="/resources">Resources</a>
		        <a style=float:right; href="/search/SNP">Search</a>
		        <a style=float:right; href="/about">About</a>
		        <a style=float:right; href="/">Home</a>
		    </div>  
		</div>
	</header>

	<main>
		<div class="download">

			<h2>Download data from the SNP portal</h2>
			<table>
				<tr>
					<th>Description</th>
					<th>Format</th>
					<th>Download Link</th>
				</tr>

				<tr>
					<td> <b>Variant Information</b> <em> e.g. snp name, chromosome location, mapped genes and allele frequencies</em> </td>
					<td>comma separated values (csv)</td>
					<td><a href="/download/main.csv" class="button">Download</a></td>
				</tr>

				<tr>
					<td><b>Clinical Data</b><em> e.g. functional and clinical signficance data</em></td>
					<td>comma separated values (csv)</td>
					<td><a href="/download/cs.csv" class="button">Download</a></td>
				</tr>

				<tr>
					<td><b>Gene Ontology</b><em> e.g. functional or ontology terms associated with each mapped gene</em></td>
					<td>comma separated values (tsv)</td>
					<td><a href="/download/gt.tsv" class="button">Download</a></td>
				</tr>


				<tr>
					<td><b>Type 1 diabetes manhattan plot</b></td>
					<td>image</td>
					<td><a href="/download/manhattan_plot.png" class="button">Download</a></td>
				</tr>
			</table>
		</div>

	</main>

	<footer>
		<p class="copyright"> © Type 1 Diabetes SNP Portal 2023 powered by the Microsoft Edge team</p>
	</footer>
	
</body>

</html>
