{% extends "base.html" %}

{% block content %}
	<main>
		<div class="download">

			<h2>Download data from the SNP portal</h2>
			<table>
				<tr>
					<th>Description</th>
					<th>Format</th>
					<th>Download Link</th>
				</tr>

				<tr>
					<td> <b>Variant Information</b> <em> e.g. snp name, chromosome location, mapped genes and allele frequencies</em> </td>
					<td>comma separated values (csv)</td>
					<td><a href="/download/main.csv" class="button">Download</a></td>
				</tr>

				<tr>
					<td><b>Clinical Data</b><em> e.g. functional and clinical signficance data</em></td>
					<td>comma separated values (csv)</td>
					<td><a href="/download/cs.csv" class="button">Download</a></td>
				</tr>

				<tr>
					<td><b>Gene Ontology</b><em> e.g. functional or ontology terms associated with each mapped gene</em></td>
					<td>tab separated values (tsv)</td>
					<td><a href="/download/gt.tsv" class="button">Download</a></td>
				</tr>
				
				<tr>
					<td><b>Reference Allele Frequencies</b></td>
					<td>comma separated values (csv)</td>
					<td><a href="/download/raf.csv" class="button">Download</a></td>
				</tr>


				<tr>
					<td><b>Type 1 diabetes manhattan plot</b></td>
					<td>image (png)</td>
					<td><a href="/download/manhattan_plot.png" class="button">Download</a></td>
				</tr>
				
				<tr>
					<td><b>Type 1 diabetes interactive manhattan plot</b></td>
					<td>image (html)</td>
					<td><a href="/download/all_man.html" class="button">Download</a></td>
				</tr>
			</table>
		</div>

	</main>

	
{% endblock %}