{% extends "base.html" %}

{% block content %}
<head>
    <title>SNP Search</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/jpeg" href="../static/images/logo.jpeg">
  </head>
		<!--Main text -->
    	<main>
    		<div class="search_info">
      			<h2>Advanced Search</h2>
      			<p>Search by SNP (rs value), Gene Name or Genomic Coordinates to retrieve the genomic information of variants from known associations to Type 1 Diabetes. </p>
      		</div>

      		<div id="container">
          		<div class="dropdown">
            		<button class="dropbtn">Select to search by:</button>
            		<div class="dropdown-content">
                		<a href="/search/SNP">SNP</a> <!-- link to html template with different forms! -->
                		<a href="/search/gene">Gene Name</a>
                		<a href="/search/chromosome">Genomic coordinates</a>
            		</div>
          		</div>
          		<div class="snplabel">
          			<h2>SNP (rs value)</h2>
          		</div>
          		<div class="snp_search">
          			<form method="POST", class="search-bar" action="/result/SNP">
          				<!--<label for="snpname">SNP</label>-->
          				<input type="text" name="snpname" id="snpname" placeholder="e.g rs1234567" required size="49">
          				<button type="submit" id="snp_submission"><img src="../static/images/search_img.png"></button>
          			</form>
          		</div>
          	</div>  
   	 	</main>

{% endblock %}   
