<html>
	<head>
		<title>Resources</title>
		<link href="style.css" rel="stylesheet">
	</head>
	<body>
		<header>
		    <div class='nav'>
		      <div class='container'>
		        <img src='./logo.jpeg'>   
		        <a style=float:right; href="./resources_page.html">Resources</a>
		        <a style=float:right; href="./search_page.html">Search</a>
		        <a style=float:right; href="./about_page.html">About</a>
		        <a style=float:right; href="/Users/lynnettebhebhe/Desktop/SNP website/homepage.html">Home</a>
		      </div>  
		    </div>
		</header>
    	<main>
      		<h2>IDK what is meant to go here!!!!!!</h2>
      		<p>Some text I guess ¯\_(ツ)_/¯</p>

   	 	</main>
    	<footer>
      		<p class="copyright">© Type 1 Diabetes SNP Portal 2023</p>
    	</footer>
	</body>
</html>