
body {
   margin: 0;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: Helvetica;
}

/* Main page for the  Advanced Search.html */
main {
  display: block;
  flex: 1 0 auto;
  background: white;
}

.nav { 
  overflow: hidden;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px; 
}

 
.nav container {
  height: 80px;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
  text-align: right;
  font-weight: normal;
}

.nav a {
  color: #35577D;
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 10px;
  transition: background .5s; 
  text-decoration: none;
  font-family: Helvetica;
  font-size: 20px;
}

.nav a:hover {
  background: -webkit-linear-gradient(-45deg, #35577D, #7ab7f0);
  cursor: pointer; 
  transition: background .5s;
  color: white;
}

.nav img {
  background: url('./logo.jpeg');
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 10px;
}


.img {
  background: url('./diabetes.jpeg') no-repeat center center; 
  background-size: cover;
  position: hidden;
  padding: 25px;
  margin-top: 80px;
  height: 400px;
  width: 100%;
  opacity: 100%;  
}


h1 {
  font-size: 40px;
}

main h1, h2, p {
  margin: 0px auto;
  padding: 5px;
  text-align: center;
  color: #082f5c;
  font-family: Helvetica;
  opacity: 100%;
}


/* there are issues with overflow and margins for the search bar*/
input[type=text] {
  padding: 12px 20px;
  background: white;
  display: inline-block;
  width: 50%;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-block: inherit;
  margin-left: 350px; 
}

input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

button {
  background-color: #35577D;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  overflow: auto;
}

button:hover {
  background: #143254;
}

p {
  font-size: 18px;
  color: #082f5c;
}

#example {
  color: #082f5c;
  font-size: 18px;
  text-decoration: none;
}

#example:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  transition: background 0.5s
}

.options {
  padding: 40px 0px;
  position: relative;
  text-align: center;
  border-radius: 25px;
  font-family: Helvetica;
  font-size: 20px;
  width: 100%;
}

.options a {
  background: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #35577D;
  display: inline-block;
  padding: 50px;
  text-decoration: none;
  margin: 15px;
}

.options a:hover {
  background: -webkit-linear-gradient(-45deg, #35577D, #7ab7f0);
  border-radius: 25px;
  color: white;
}


/* Footer design for all pages */
footer {
     background: -webkit-linear-gradient(-45deg, #35577D, #7ab7f0);
     overflow: hidden;
     padding-top: 18px;
     padding-bottom: 20px;
    }

footer p{
  color: white;
  font-size: 16px;
  text-align: left;
}